.layoutStyle {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: #f5f7fa;
}

.sidebarStyle {
    position: absolute;
    transform: translateX(-100%);     /* off-screen */
    transition: transform 0.3s ease;
    background-color: #6e88d2;
    color: white;
    padding: 2em;
    display: flex;
    flex-direction: column;
    box-shadow: .2em 0 .8em rgba(0,0,0,0.1);
    height: 100%;
}

/* sidebar when opened */
.sidebarStyle.open {
    transform: translateX(0);         /* slide in */
}

.sidebarTitle {
    color: white;
    margin-bottom: 2em;
}

.linkStyle {
    color: white;
    padding: 1em;
    text-decoration: none;
    border-radius: .5em;
    display: block;
}

.linkHover {
    background-color: rgba(255,255,255,0.2);
}

.contentStyle {
    flex:1 1 auto;
    padding: 2em 4em 2em 4em;
    overflow-y: auto;
}

.header {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #1E3A8A;
    flex: 0 0 auto;
    padding: 1em 2em 1em 2em;
}

.headerTitle {
    flex: 1 1 auto;
    text-align: center;
}

.header a {
    text-decoration: none;
    color: inherit; /* optional: keep h1 color */
}

.mainArea {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;   /* force it to take remaining space */
    min-height: 0;    /* IMPORTANT: allows children to shrink and scroll */
    position: relative;
}

.footer {
    text-align: center;
    color: white;
    background-color: #1E3A8A;
    flex: 0 0 auto;
}

figure {
    padding: 1em 2em 1em 2em;
    margin: 0 !important;
    max-width: 30em;
}

.figureComponent {
    margin-bottom: 2em;
    cursor: pointer;
}

.figureModalImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-color: white;
}

.modal-content {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.modal-dialog {
    max-width: 90vw !important;
}

.modal-body {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Hamburger button */
.hamburgerButton {
    display: block;
    background: none;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    color: #1E3A8A;
}

.figureCaptionTitle {
    text-align: center;
    font-size: 1.5em !important;
    color: black !important;
    font-weight: bold;
}

.figureComponentImage {
    width: 400px !important;
    height: 300px !important;
    object-fit: contain;   /* Seitenverhältnis beibehalten */
    background-color: white;
    display: block;
}
