.layoutStyle {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: #f5f7fa;
}

.sidebarStyle {
    width: 20%;
    min-width: 10em;
    background-color: #6e88d2;
    color: white;
    padding: 2em;
    display: flex;
    flex-direction: column;
    box-shadow: .2em 0 .8em rgba(0,0,0,0.1);
}

.sidebarTitle {
    color: white;
    margin-bottom: 2em;
}

.linkStyle {
    color: white;
    padding: 1em;
    text-decoration: none;
    border-radius: .5em;
    display: block;
}

.linkHover {
    background-color: rgba(255,255,255,0.2);
}

.contentStyle {
    flex:1 1 auto;
    padding: 0 4em 0 4em;
    overflow-y: auto;
}

.header {
    text-align: center;
    color: white;
    background-color: #1E3A8A;
    flex: 0 0 auto;
}

.mainArea {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;   /* force it to take remaining space */
    min-height: 0;    /* IMPORTANT: allows children to shrink and scroll */
}

.footer {
    text-align: center;
    color: white;
    background-color: #1E3A8A;
    flex: 0 0 auto;
}

figure {
    padding: 1em 2em 1em 2em;
    margin: 0 !important;
}